.table-links {
    margin: 140px;
    margin-top: 120px;
    margin-bottom: 0;
    display: flex;
    padding: 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
    height: 124px;
    width: 1160;
    align-items: center;
    font-size: 23px;
}

.table-links__text {
    width: 1400px;
    text-align: left;
}

.link-logo {
    margin: 0;
    width: 275px;
}

.table-links__logo {
    display: flex;
    margin-left: 75px;
    height: 30px;
    width: 865;
}
